@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
*{
    /* margin: 0; */
    padding: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.164);
}
a{    
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px;
}
.container{
    display: flex;
    flex-direction: column;
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    color: rgb(0, 0, 0);   
}
.top__container{
   display:inline-flex;

}
.global__container{
    background:  linear-gradient( rgb(230, 230, 230), rgba(255, 255, 255, 0.404) ), url("https://folga.com.ua/graphics/events/1619429183_shutterstock-1480095632apau.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}


.top__containerLeft{
    font-size: 30px;
    margin: auto;
}
.top__containerCenter{
    display: block;
    margin: auto;
    text-align: center;
}
.top__containerRight{
    display: flex;
    margin: auto;
}
.top__containerRight a{
   font-size: 30px;
}
.top__containerCenter li{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
a:hover{
    color: rgba(0, 0, 0, 0.329);   
}
.list__item{
    margin: 10px;
    padding: 20px;
}
.list__container{
    display: inline-flex;
    align-items: center;
    color: rgb(0, 0, 0);   
}

#menu__toogle{
    opacity: 0;
}
.menu__btn{
    cursor: pointer;
    z-index: 1;
}
 .menu__btn { 
    display: flex; 
    position: absolute;
    margin: 30px;
    /* width:100px;
    height: 100px; */
    /* background-color: rgba(60, 255, 0, 0.562); */
    /* border-radius: 50%; */
    /* text-align: center; */   
 } 



/* *********************************************** */
/* @-webkit-keyframes pulsing {
    0% {
        -webkit-box-sizing: 30% ;
        transform: scale(0.8, 0.8)
    }
    50% {
        -webkit-box-sizing: 10% ;
        transform: scale(0.8, 0.8)
    }
    100% {
        -webkit-transform: scale(0.8, 0.8);
        transform: scale(0.8, 0.8);
      }

  } */
  

/* *********************************************** */
.hamburger_text:hover{
    border-radius: 100%;
    transition: 0.6s;
    background-color: rgba(240, 255, 255, 0.486);

}
.hamburger_text{
    /* -webkit-animation: pulsing 1s infinite; */

    border-radius: 30%;    
    border: 2px solid grey;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
   
    width: 150px;
    height: 150px;
    /* cursor: pointer; */
    /* border: 1px solid red; */
}
/* .menu__btn >span::before{
    content: ' ';
    top: -3px;
}
.menu__btn >span::after{
    content: ' ';
    top: 3px;
} */
.menu__box li{
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 150px;
    /* margin: auto; */
    list-style: none;
}
.menu__box{
    display: block;
    /* position: fixed; */
    visibility: hidden;
    font-size: 1px;
    /* padding: 80px 0 ; */
    /* list-style: none; */
    text-align: center;
}
.menu__item{
    font-size: 25px;
    padding: 20px;
    
}
#menu__toogle:checked ~ .menu__box {
    transition: 0.5s;
    visibility: visible;
    padding-left: 120px;

    
    /* left: 0; */
}




.t3__container{
    padding: 30px;
}

h2{

    font-size: 30px;
}
li{
    font-size: 20px;
    /* list-style: none; */
    padding-bottom: 10px;
}
.t3__container li{
    padding-left: 0px;
}
.t4__box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-between;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.596);
}
.hr{
    width: 100px;
   color:red;
}
.t4__container{
    text-align: center;
}

iframe{
    padding: 20px;
    width: 400px;
    height: 300px;
}
.t4__box-about{
    text-align: center;
    font-size: 25px;
}
.t5__container{
    text-align: center;
}


























@media (max-width: 1000px){
    .global__container{
        background:  linear-gradient( rgba(255, 255, 255, 0.767), rgba(255, 255, 255, 0.801) ), url("https://folga.com.ua/graphics/events/1619429183_shutterstock-1480095632apau.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    }
    .book__container h2{
        text-align: center;
        font-size: 30px;
    }
    .top__container li{
        
        font-size: 30px;
    }
    li{
        
        padding-bottom: 10px;
    }
  
    .humburger__gif{
    
        width: 180px;
        height: 180px;
    }
    .menu__item {
        
        font-size: 35px;
    }
    .t3__container{
        
        margin: 40px;
    }
    h2{
        padding-left: 30px;
        text-align: left;
        font-size: 20px;
    }
    .t3__container p , .t3__container li, .t3__container a {
        text-align: left;
        font-size: 15px;
        letter-spacing: 0;
        
    }
    .t4__container h2{
  text-align: center;

    }
    .t4__box{
justify-content: center;
    }
iframe{
    width: 700px;
}
.t4__box-about{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
}